<%- include ../partials/header -%> 

<h1>u/<%= username %>'s dashboard</h1>
<a href="/logout">Logout</a>

<h3>Coach Requests: </h3>
<% coachRequests.forEach(function(r){ %>
<form action="/dashboard/confirmCoach/<%= r.coach %>", method="POST">
<button> Confirm u/<%= r.coach %> as coach </button>
</form>
 <% }); %>

<h3>My Athletes: </h2>
<form action="/dashboard/requestAthlete" method="POST">
<input type="text" name="athleteUsername" placeholder="athlete's username">
<button>Add Athlete</button>
</form>

<ul>
<% athletes.forEach(function(athlete){ %>
	<li>
	<a href="/log/<%= athlete.username %>" > <%= athlete.firstName %> <%= athlete.lastName %> </a>
 <% }); %>
 	</li>
 </ul>

<h3>My Coaches: </h2>
<ul>
<% coaches.forEach(function(coach){ %>
	<li>
	<a href="/log/<%= coach.username %>" > <%= coach.firstName %> <%= coach.lastName %> </a>
 <% }); %>
 	</li>
 </ul>

<h3>My Training: </h2>
<form action="/log" method="POST">
  <textarea name="log" cols="40" rows="5" required>5x5 Squat with Belt</textarea>
  <br>
  <input type="text" name="name" placeholder="Name of Workout" required>
  <input type="text" name="completed" placeholder="Date Completed" required>
  <br>
  <button>Log Training</button>
</form>
<a href="/log/<%= username %>" >View Training Log</a>

<%- include ../partials/footer -%> 