<%- include ../partials/header -%> 

<h1> u/<%= username %>'s training log</h1>
<a href="/dashboard">Back to dashboard</a>

<form action="/log/setSheet/<%= username %>" method="POST">
<input type="url" name="sheet" placeholder="Shareable Url Link">
<button>Set Google Sheet</button>
</form>
<br>

<% if (user.setSheet) { %>
	<iframe 
	    width="800"
	    height="1000"
	    src="<%= user.sheet %>">
	</iframe>
<% } %>

<% log.forEach(function(l){ %>
<div class = "log">
	<p> Session: <%= l.name %> </p>
	<p> Completed: <%= l.completed %> </p>
	<p> <%= l.description %> </p>
	<p id="blah"> </p>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script>
		var d = "<%= l.details %>";
		var e = $.csv.toArrays("hello,10,20");
		document.getElementById('blah').innerHTML = "HLLL";
	</script>
	<table>
		<tr>
			<td>
				Exercise
			</td>
			<td>
				Sets
			</td>
			<td>
				Reps
			</td>
			<td>
				Weight
			</td>
		</tr>
		<% l.tabularDetails.forEach(function(e) { %>
			<tr>
				<td><%= e[0] %> </td>
				<td><%= e[1] %> </td>
				<td><%= e[2] %> </td>
				<td><%= e[3] %> </td>
			</tr>
		<% }) %>
		<tr>
			<td>
				<form action="/log/<%= l.author %>/updateLog/<%= l._id %>" method="GET">
					<button>Update</button>
				</form>
			</td>	
			<td>
				<form action="/log/<%= l.author %>/deleteLog/<%= l._id %>" method="POST">
					<button>Delete</button>
				</form>
			</td>
		</tr>
	</table>
</div>

<% }) %>

<%- include ../partials/footer -%> 