<%- include ../partials/header -%> 

<h1> u/<%= username %>'s training log</h1>
<a href="/dashboard">Back to dashboard</a>

<form action="/log/setSheet/<%= username %>" method="POST">
<input type="url" name="sheet" placeholder="Shareable Url Link">
<button>Set Google Sheet</button>
</form>
<br>

<% if (user.setSheet) { %>
	<iframe 
	    width="800"
	    height="1000"
	    src="<%= user.sheet %>">
	</iframe>
<% } %>

<% log.forEach(function(l){ %>
<div class = "log">
	<table>
		<tr>
			<td> Name: <%= l.name %> </td>
			<td>Comments: <%= l.description %> </td>
		</tr>
		<tr>
			<td> Completed: <%= l.completed %> </td>
		</tr>
		<tr>	
			<table>
				<tr>
					<th> Exercise </th>
					<th> Sets </th>
					<th> Reps </th>
					<th> Weight </th>
					<th> RPE </th>
				</tr>
				<% l.tabularDetails.forEach(function(e) { %>
					<tr>
						<td><%= e[0] %> </td>
						<td><%= e[1] %> </td>
						<td><%= e[2] %> </td>
						<td><%= e[3] %> </td>
						<td><%= e[4] %> </td>
					</tr>
				<% }) %>
			</table>
		</tr>
	</table>

	<form action="/log/<%= l.author %>/updateLog/<%= l._id %>" method="GET">
		<button>Update</button>
	</form>
	<form action="/log/<%= l.author %>/deleteLog/<%= l._id %>" method="POST">
		<button>Delete</button>
	</form>
</div>

<% }) %>

<%- include ../partials/footer -%> 