<%- include ../partials/header -%> 

<h1> u/<%= username %>'s training log</h1>
<a href="/dashboard">Back to dashboard</a>
<% log.forEach(function(l){ %>
<div class = "log">
	<table>
	<tr>
	<td> Session: <%= l.name %> </td>
	</tr>
	<tr>
	<td> Completed: <%= l.completed %> </td>
	</tr>
	<tr>
	<td>
	<% l.description.forEach(function(e) { %>
		<p><%= e %> </p>
	<% }) %>
	<form action="/log/<%= l.author %>/updateLog/<%= l._id %>" method="GET">
	<button>Update</button>
	</form>
	<form action="/log/<%= l.author %>/deleteLog/<%= l._id %>" method="POST">
	<button>Delete</button>
	</form>
	</td>
	</tr>

	</table>
</div>

<% }) %>

<%- include ../partials/footer -%> 