<%- include partials/header -%> 

<h1> u/<%= username %>'s training log</h1>

<% log.forEach(function(l){ %>
<div class = "log">
	<p> <%= l.name %> </p>
	<p class = "logDate"> Created At: <%= l.created %> </p>
	<% l.description.forEach(function(e) { %>
		<p><%= e %> </p>
	<% }) %>
	<form action="/updateLog/<%= l._id %>" method="GET">
	<button>Update log</button>
	</form>
	</div>
<% }) %>

<%- include partials/footer -%> 